name = "edbb"
main = "index.ts"
compatibility_date = "2025-11-22"

[vars]
DEBUG = true

[assets]
directory = "./"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[[kv_namespaces]]
binding = "SHORT_KV"
id = "9a0530f63a9a4e6780f595b56d819b23"
